@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 75%;
  font-family: 'poppins',sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

header .icon-container {
  display: none;
}

header .nav-icons {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

header .nav-icons:hover {
  border-color: black;
}

nav {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #11055E;
}

nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

nav .logo {
  color: #75E6DA;
}

nav .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-links a {
  color: white;
  margin: 10px;
  font-size: 1.2rem;
  padding: 5px;
  border: 1px solid transparent;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

nav .nav-links a:hover {
  border-color: white;
}

.hero-container .hero-design-container .hero-design {
  display: none;
}

.hero-section {
  width: 100%;
  height: 100vh;
  padding: 10%;
  background-color: #05295E;
}

.hero-section .hero-text {
  color: white;
  font-size: 4rem;
  text-transform: capitalize;
  margin: 20px 0px;
  margin-bottom: 40px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

.hero-section .hero-btn {
  cursor: pointer;
  background: #E07EDC;
  color: #353434;
  padding: .5rem .9rem;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

.hero-section .hero-btn:hover {
  border-color: white;
}

.hero-section .indicator {
  margin: 50px 0px;
  width: 30px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50px;
  position: relative;
}

.hero-section .indicator::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  margin: auto;
  left: 0;
  right: 0;
  top: 10px;
  border-radius: 50%;
  animation: animate 1s cubic-bezier(0.18, 0.89, 0.32, 1.28) infinite alternate-reverse;
}

.summary-section {
  padding: 20px 40px;
}

.summary-section .content-overlay {
  padding-left: 40px;
  z-index: 1;
  position: relative;
}

.summary-section .content-overlay::before {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  top: -30px;
  left: -40px;
  border-radius: 50%;
  background: #C3DBFF;
  z-index: -1;
}

.summary-section .section-heading {
  text-transform: capitalize;
  margin: 10px 0px;
  font-size: 3rem;
  font-weight: 400;
}

.summary-section .summary-para {
  margin: 20px 0px;
  font-weight: 400;
  font-size: 1.2rem;
  max-width: 60ch;
}

.skill-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background-color: #75E6DA;
}

.skill-section .card {
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-section .card-img {
  margin: 20px;
  width: 50px;
  height: 50px;
}

.skill-section .card-heading {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.skill-section .card-para {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 20px;
  margin-top: 0px;
}

.skill-section .tool-img {
  width: 40px;
  height: 40px;
}

.project-section {
  padding: 20px;
  background-color: white;
}

.project-section .section-heading {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 50px;
  margin-left: 15%;
}

.project-section .project-container {
  width: 100%;
  margin: 40px 0px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-section .project-card {
  background-color: #75E6DA;
  padding: 30px;
  padding-top: 50px;
  margin: 0px 40px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-section .project-title {
  margin: 10px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
}

.project-section .project-para {
  margin: 10px 0px;
  font-size: 1.2rem;
  font-weight: 300;
}

.project-section .project-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-section .project-btn {
  width: 60px;
  background-color: #E07EDC;
  color: #353434;
  padding: 10px 20px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid transparent;
  border-radius: 10px;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

.project-section .project-btn:hover {
  border-color: black;
}

.project-section .project-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: -25px;
}

footer {
  background-color: #05295E;
  padding: 20px;
}

footer .contact {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer-icons {
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 1px solid transparent;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

footer .footer-icons:hover {
  border-color: black;
}

footer .email {
  font-size: 1.5rem;
  color: black;
  border: 1px solid transparent;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
}

footer .email:hover {
  border-color: black;
}

footer .footer-para {
  margin-top: 40px;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

@media screen and (max-width: 400px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    margin-bottom: 30px;
  }
  .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .hero-section .hero-text {
    font-size: 3rem;
    text-align: center;
  }
  .summary {
    padding: 10px;
  }
  .summary .content-overlay {
    padding: 0;
  }
  .summary .content-overlay::before {
    width: 100px;
    height: 100px;
  }
  footer .email {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .skill-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
  }
  .skill-section .card {
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
  }
  .project-section .project-container {
    margin: 50px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-section .project-card {
    width: 350px;
    height: auto;
    margin: 0;
    padding: 30px;
    padding-right: 60px;
  }
  .project-section .project-img {
    margin: 0;
    margin-left: -50px;
    width: 300px;
    height: auto;
  }
}

@media screen and (min-width: 800px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  header nav {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .icon-container {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .nav-icons {
    margin: 10px;
  }
  .hero-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .hero-container .hero-design-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero-container .hero-design-container .hero-design {
    display: block;
    width: 100%;
    height: auto;
    margin-left: -100%;
  }
  .hero-container .hero-section {
    padding: 10%;
    padding-left: 20%;
  }
  .summary-section {
    padding: 5%;
    width: 100%;
  }
  .summary-section .content-overlay {
    z-index: 1;
    position: relative;
  }
  .summary-section .content-overlay::before {
    display: none;
  }
  .summary-section .section-heading {
    margin-left: 10%;
    margin-bottom: 3%;
  }
  .summary-section .summary-para {
    margin-left: 10%;
  }
  .skill-section {
    padding: 5% 20%;
    padding-bottom: 0;
  }
  .project-section {
    padding: 5%;
  }
  .project-section .project-container {
    margin: 100px 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-section .project-card {
    width: 500px;
    height: auto;
    margin: 0;
    padding: 60px;
    padding-right: 160px;
  }
  .project-section .project-img {
    margin: 0;
    margin-left: -100px;
    width: 450px;
    height: auto;
  }
  footer {
    padding: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .contact {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .email {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */